<h1>confirm info before signup</h1>
<br>

<br>
<form action="{% url 'register' %}" method="post">
{% csrf_token %}

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value= {{ name }}><br><br>
  
  Email: {{ email }}
  
  <label for="pw">Password:</label>
  <input type="text" id="pw" name="pw" value={{ pw }} ><br><br>
  
  <label for="year">Year:</label>
  <input type="number" id="year" name="year" value={{ year }} ><br><br>
  
  <label for="major">Major:</label>
  <input type="text" id="major" name="major" value= {{ major }}><br><br>
  
  <label for="langs">Languages you know:</label>
  <input type="text" id="langs" name="langs" value={{ langs }} ><br><br>
  
  <label for="skills">Skills you know:</label>
  <input type="text" id="skills" name="skills" value={{ skills }} ><br><br>
  
  <label for="fa">Focus Area:</label>
  <input type="text" id="fa" name="fa" value={{ fa }} ><br><br>
  
  <label for="tz">Time zone, GMT+ (negative for GMT-):</label>
  <input type="number" id="tz" name="tz" value={{ tz }} ><br><br>
  
  <label for="pi">Project ideas? Blank if none:</label>
  <input type="text" id="pi" name="pi" value={{ pi }} ><br><br>
  
  <label for="hack">How many previous hackathons?:</label>
  <input type="number" id="hack" name="hack" value= {{ hack }}><br><br>
  
  <label for="team">Looking for a team? y or n:</label>
  <input type="number" id="team" name="team" value={{ tea }}><br><br>
    
  <label for="am">About me (optional):</label>
  <input type="text" id="am" name="am" value= {{ am }}><br><br>
  
<br />
<input type="submit" value="enroll"/>
</form>