<h1>Home</h1>

logged in as {{ email }}

<form action="{% url 'login' %}" method="post">
{% csrf_token %}
<input type="submit" value="login"/>
</form>
<form action="{% url 'signup' %}" method="post">
{% csrf_token %}
<input type="submit" value="sign up"/>
</form>
<br>

<form action="{% url 'confirm' %}" method="post">
{% csrf_token %}
<label for="event_name">Look for an event:</label>
<input type="text" id="event_name" name="event_name"><br><br>
<input type="submit" value="search!"/>
</form>
<br>
<form action="{% url 'logout' %}" method="post">
{% csrf_token %}
<input type="submit" value="logout"/>
</form>