* {
  box-sizing: border-box;
}
h1{
  text-align: center;
  background-color: #e9f4fa;
  padding: 12px;
  border-radius: 90px;
}
input[type=text], select {
  width: 75%;
  padding: 8px;
  background-color: #f7fcff;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: right;
  margin-top: 1%;
}

textarea{
  width: 100%;
  padding: 12px;
  background-color: #f7fcff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #0026ff;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #001799;
}

.container {
  border-radius: 5px;
  background-color: #e1e8ff;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1920px) {
  .col-25, .col-75{
    width: 100%;
    
  }
  input[type=submit] {
    width: 50%;
    margin-top: 0;
    margin-left: 25%;
    margin-right: 25%;
  }
}